div.Demo,
p {
  z-index: 1;
  margin: 1px;
  padding: 2px 4px;
  position: fixed;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

div.Demo {
  left: 0;
}

span#FPSs {
  right: 0;
  color: white;
}

canvas {
  border: 1px solid green;
  box-shadow: 0 0 20px green;
  overflow: hidden;
}
